<ol class="breadcrumb">
  <li>{{#link-to "skill" skill.slug}}{{skill.name}}{{/link-to}}</li>
  <li>{{#link-to "skill.manage.references" skill.slug}}{{t "manage"}} {{t "references"}}{{/link-to}}</li>
  <li class="active">{{if model.isNew (t "add") (t "edit")}} {{t "reference"}}</li>
</ol>

{{reference-form reference=model save="save"}}
