<ol class="breadcrumb">
  <li>{{#link-to "skill" model.slug}}{{model.name}}{{/link-to}}</li>
  <li class="active">{{t "manage"}} {{t "references"}}</li>
</ol>

<h2>{{t "manage"}} {{t "references"}}</h2>

<table class="table">
<thead>
	<tr>
		<th>{{t "title"}}</th>
		<th>{{t "authors"}}</th>
		<th>{{t "year"}}</th>
		<th>{{t "actions"}}</th>
	</tr>
</thead>
<tbody>
{{#each model.references as |reference|}}
<tr>
	<td>{{reference.title}}</td>
	<td>{{reference.author}}</td>
	<td>{{reference.year}}</td>
	<td>
		<div class="btn-group" role="group">
			{{#link-to "skill.manage.references.edit" reference.id class="btn btn-default"}}{{ui-icon icon="pencil"}}{{/link-to}}
			<button class="btn btn-danger" {{action 'delete' reference}}>{{ui-icon icon="trash"}}</button>
		</div>
	</td>
</tr>
{{/each}}
</tbody>
</table>

{{#if markedDelete}}
{{#modal-dialog
		translucentOverlay=true
		clickOutsideToClose=true
		container-class="panel panel-danger trixionary-dialog"
		close="close"}}
	<div class="panel-heading">{{t "delete"}} {{t "refrence"}}</div>
	<div class="panel-body">
	    {{t "delete"}} {{markedDelete.title}}
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary pull-right" {{action "ok"}}>Ok</button>
		<button class="btn btn-default pull-right" {{action "cancel"}}>Cancel</button>
	</div>
{{/modal-dialog}}
{{/if}}
