{{#if isDevelopment}}
<nav class="navbar navbar-default navbar-dev">
	<div class="container">
		{{#link-to "index" class="navbar-brand"}}Trixionary{{/link-to}}

		<div class="pull-right">
			{{#if session.isAuthenticated}}
			logged in as {{session.user.displayName}}
			<button class="btn btn-primary btn-sm" {{action 'logout'}}>Logout</button>
			{{else}}
			<form class="form-inline" {{action 'login' on='submit'}}>
				{{input class="form-control form-control-sm" placeholder="Login" value=login}}
				{{input type="password" class="form-control form-control-sm" placeholder="Password" value=password}}
			    <button class="btn btn-primary btn-sm" type="submit">Login</button>
			</form>
			{{/if}}
		</div>
	</div>
</nav>
{{/if}}
<div class="{{if isDevelopment 'container'}}">
	{{#if model}}
	<header class="trixionary-header">
		<div class="row">
			<div class="col-md-7">
				<h1>{{model.title}} Trixionary</h1>
			</div>
			<div class="col-md-5">
				<div class="trixionary-toolbar pull-right">
					<div class="btn-group">

					{{#if isSkillRoute}}
					{{#if (and (can "delete gossi.trixionary.skill") (or (eq currentPath "skill.edit") (eq currentPath "skill.delete")))}}
					{{#link-to "skill.delete" class="btn btn-danger"}}{{ui-icon "trash"}}{{/link-to}}
					{{/if}}
					<div class="btn-group">
						{{#if (can "update gossi.trixionary.skill")}}
						{{#link-to "skill.edit" class="btn btn-default"}}{{ui-icon "pencil"}}{{/link-to}}
						{{/if}}
						{{#if (or (can "create gossi.trixionary.picture") (can "update gossi.trixionary.picture") (can "create gossi.trixionary.video") (can "update gossi.trixionary.video") (can "create gossi.trixionary.reference") (can "update gossi.trixionary.reference"))}}
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<!-- <li class="dropdown-header">Skill</li>
							<li role="separator" class="divider"></li> -->
							{{#if (can "create gossi.trixionary.picture")}}
							<li>{{#link-to "skill.manage.pictures.add"}}{{t "add"}} {{t "picture"}}{{/link-to}}</li>
							{{/if}}
							{{#if (can "create gossi.trixionary.video")}}
							<li>{{#link-to "skill.manage.videos.add"}}{{t "add"}} {{t "video"}}{{/link-to}}</li>
							{{/if}}
							{{#if (can "create gossi.trixionary.reference")}}
							<li>{{#link-to "skill.manage.references.add"}}{{t "add"}} {{t "reference"}}{{/link-to}}</li>
							{{/if}}
							<li role="separator" class="divider"></li>
							{{#if (can "update gossi.trixionary.picture")}}
							<li>{{#link-to "skill.manage.pictures"}}{{t "manage"}} {{t "pictures"}}{{/link-to}}</li>
							{{/if}}
							{{#if (can "update gossi.trixionary.video")}}
							<li>{{#link-to "skill.manage.videos"}}{{t "manage"}} {{t "videos"}}{{/link-to}}</li>
							{{/if}}
							{{#if (can "update gossi.trixionary.reference")}}
							<li>{{#link-to "skill.manage.references"}}{{t "manage"}} {{t "references"}}{{/link-to}}</li>
							{{/if}}
							<li role="separator" class="divider"></li>
							<li><a href="#">Make K-Struktur</a></li>
							<li><a href="#">Make Function Phases</a></li>
					  	</ul>
						{{/if}}
					</div>
					{{/if}}

					{{#if isGroupRoute}}
					{{#if (can "update gossi.trixionary.group")}}
					{{#link-to "group.edit" class="btn btn-default"}}{{ui-icon "pencil"}}{{/link-to}}
					{{/if}}
					{{/if}}

					{{#if (or (can "create gossi.trixionary.skill") (can "create gossi.trixionary.group") (can "create gossi.trixionary.position"))}}
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ui-icon "plus"}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							{{#if (can "create gossi.trixionary.skill")}}<li>{{#link-to "new.skill" skill=model.skillSlug}}{{t "new"}} {{model.skillLabel}}{{/link-to}}</li>{{/if}}
							{{#if (can "create gossi.trixionary.group")}}<li>{{#link-to "new.group" group=model.groupSlug}}{{t "new"}} {{model.groupLabel}}{{/link-to}}</li>{{/if}}
							{{#if (can "create gossi.trixionary.position")}}<li>{{#link-to "new.position"}}{{t "new"}} {{t "position"}}{{/link-to}}</li>{{/if}}
						</ul>
					</div>
					{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
				{{#each-in nav as |route item|}}
				{{#if item.visible}}
				<li role="presentation" class="{{if item.active 'active'}}">{{#link-to route}}{{item.title}}{{/link-to}}</li>
				{{/if}}
				{{/each-in}}
			</ul>
		</div>
	</header>
	<div class="trixionary-body">
	{{outlet}}
	</div>
	{{else}}
	Whoops, what's wrong here?
	{{/if}}
</div>
