<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<p class="lead trixionary-intro">{{t "intro" sport=model.title skills=model.skillPluralLabel groups=model.groupPluralLabel}}</p>
				<p>{{t "explore" sport=model.title skills=model.skillPluralLabel groups=model.groupPluralLabel}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>{{t "random"}} {{model.skillLabel}}</h2>
			</div>
			<div class="col-md-4">
				<h2>{{t "graph"}}</h2>
				[image of a graph here would be cool]
			</div>
			<div class="col-md-4">
				<h2>{{t "statistics"}}</h2>

				<table class="trixionary-statistics">
					<tr>
						<td>{{model.skillPluralLabel}}</td>
						<td>{{statistics.skills}}</td>
					</tr>
					<tr>
						<td>{{model.groupPluralLabel}}</td>
						<td>{{statistics.groups}}</td>
					</tr>
					<tr>
						<td>{{t "pictures"}}</td>
						<td>{{statistics.pictures}}</td>
					</tr>
					<tr>
						<td>{{t "videos"}}</td>
						<td>{{statistics.videos}}</td>
					</tr>
					<tr>
						<td>{{t "references"}}</td>
						<td>{{statistics.references}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>{{t "pictures"}}</h2>
			</div>
		</div>
	</div>

	<div class="col-md-2">
		{{sport-nav sport=model}}
	</div>
</div>
