{% extends "frame.twig" %}

{% block main %}
<div class="row">
	<div class="col-md-10">{% block content %}{% endblock %}</div>
	<div class="col-md-2">
		<h3>{{ sport.getGroupPluralLabel() }}</h3>
		
		<ul class="list-unstyled">
		{% for group in groups %}
			<li><a href="{{ locations.sport_url }}{{ sport.getGroupSlug() }}/{{ group.getSlug() }}">{{ group.getTitle() }}</a> ({{ group.countSkills() }})</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}