{% extends "frame.twig" %}

{% block breadcrumb %}
{{ parent() }}
<a href="{{ group_url }}">{{ group.getTitle() }}</a> &gt;
{{ trans('heading', {'group': sport.getGroupLabel()}) }}
{% endblock %}

{% block main %}
<h2>{{ trans('heading', {'group': sport.getGroupLabel()}) }}</h2>

<p>{{ trans('error-msg', {'group': group.getTitle(), 'skills': sport.getSkillPluralLabel()}) }}</p>

<ul>
	{% for skill in skills %}
	<li><a href="{{ url_pattern|replace({'_skill_': skill.getSlug()}) }}">{{ skill.getName() }}</a></li>
	{% endfor %}
</ul>
{% endblock %}