{% extends 'toolbar.twig' %}

{% block breadcrumb %}
{{ parent() }}
<a href="{{ skill_url }}">{{ skill.getName() }}</a> &gt;
{% if not picture.isNew() %}<a href="{{ manage_pictures_url }}">{{ trans('manage-pictures') }}</a> &gt;{% endif %}
{{ trans('heading') }}
{% endblock %}

{% block main %}
<h2>{{ trans('heading') }}</h2>

<div class="row upload-box">
	<label class="control-label col-md-2">{{ trans('file') }}</label>
	<div class="col-md-6 clearfix">
		<span class="btn btn-success fileinput-button">
			<i class="glyphicon glyphicon-plus"></i>
			<span>{{ trans('select-file') }}...</span>
			<input id="fileupload" type="file" name="file">
		</span>
		<img id="preview" class="hidden pull-right" style="max-width: 100px; max-height: 100px;">
		<span id="uploaded"></span>
		<div id="progress" class="progress hidden"><div class="progress-bar progress-bar-success"></div></div>
	</div>
</div>

<script>
var lastFile = null;
$('#fileupload').fileupload({
	url: '{{ api_url }}gossi.trixionary/upload',
	dataType: 'json',
	acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
	done: function (e, data) {
		lastFile = data.result.files[0];
		if (lastFile.error) {
			$('#uploaded').text(lastFile.error).addClass('text-danger');
		} else {
			$('#uploaded').text(lastFile.name).removeClass('text-danger');
			$('#filename').val(lastFile.name);
		}
		$('#preview').attr('src', lastFile.url).removeClass('hidden');
		$('#progress').addClass('hidden');
	},
	progressall: function (e, data) {
		var progress = parseInt(data.loaded / data.total * 100, 10);
		$('#progress .progress-bar').css(
			'width',
			progress + '%'
		);
	}
}).on('fileuploadadd', function (e, data) {
	if (lastFile !== null && data.files[0].name !== lastFile.name) {
		var xhr = new XMLHttpRequest();
		xhr.open(lastFile.deleteType, lastFile.deleteUrl, true);
		xhr.send();
		$('#filename').val('');
	}
	$('#progress').removeClass('hidden');
});
</script>

<form class="form-horizontal" action="{{ global.locations.uri }}" method="post">
<input type="hidden" name="filename" id="filename">

	<div class="form-group">
		<label class="col-sm-2 control-label" for="title">{{ trans('title') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="title" name="title" required value="{{ picture.getTitle() }}">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="desc">{{ trans('description') }}</label>
		<div class="col-sm-6">
			<textarea class="form-control" id="desc" name="description">{{ picture.getDescription() }}</textarea>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="photographer">{{ trans('photographer') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="photographer" name="photographer" required value="{{ picture.getPhotographer() }}">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label" for="movender">{{ sport.getMovender() }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="movender" name="movender" required value="{{ picture.getMovender() }}">
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-2">
			<input type="submit" class="btn btn-primary form-control" value="{{ trans('save') }}">
		</div>
	</div>
</form>
{% endblock %}