{% extends 'toolbar.twig' %}

{% block breadcrumb %}
{{ parent() }}
<a href="{{ skill_url }}">{{ skill.getName() }}</a> &gt;
{% if not reference.isNew() %}<a href="{{ manage_references_url }}">{{ trans('manage-references') }}</a> &gt;{% endif %}
{{ trans('heading') }}
{% endblock %}

{% block main %}
<h2>{{ trans('heading') }}</h2>

<form class="form-horizontal" action="{{ global.locations.uri }}" method="post">

	<div class="form-group">
		<label class="col-sm-2 control-label" for="type">{{ trans('type') }}</label>
		<div class="col-sm-6">
			<select name="type" id="type" required style="width: 50%">
				{% for type in types %}
				<option value="{{ type }}"{% if type == reference.getType() %} selected{% endif %}>{{ transchoice(type, 1) }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group" id="title-group">
		<label class="col-sm-2 control-label" for="title">{{ trans('title') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="title" name="title" value="{{ reference.getTitle() }}">
		</div>
	</div>
	
	<div class="form-group" id="author-group">
		<label class="col-sm-2 control-label" for="author">{{ trans('author') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="author" name="author" value="{{ reference.getAuthor() }}">
			<small class="help-block">{{ trans('person-help') }}</small>
		</div>
	</div>
	
	<div class="form-group" id="booktitle-group">
		<label class="col-sm-2 control-label" for="booktitle">{{ trans('booktitle') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="booktitle" name="booktitle" value="{{ reference.getBooktitle() }}">
		</div>
	</div>
	
	<div class="form-group" id="year-group">
		<label class="col-sm-2 control-label" for="year">{{ trans('year') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="year" name="year" value="{{ reference.getYear() }}">
		</div>
	</div>
	
	<div class="form-group" id="publisher-group">
		<label class="col-sm-2 control-label" for="publisher">{{ trans('publisher') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="publisher" name="publisher" value="{{ reference.getPublisher() }}">
		</div>
	</div>
	
	<div class="form-group" id="address-group">
		<label class="col-sm-2 control-label" for="address">{{ trans('address') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="address" name="address" value="{{ reference.getAddress() }}">
		</div>
	</div>
	
	<div class="form-group" id="journal-group">
		<label class="col-sm-2 control-label" for="journal">{{ trans('journal') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="journal" name="journal" value="{{ reference.getJournal() }}">
		</div>
	</div>
	
	<div class="form-group" id="school-group">
		<label class="col-sm-2 control-label" for="school">{{ trans('school') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="school" name="school" value="{{ reference.getSchool() }}">
		</div>
	</div>
	
	<div class="form-group" id="editor-group">
		<label class="col-sm-2 control-label" for="editor">{{ trans('editor') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="editor" name="editor" value="{{ reference.getEditor() }}">
			<small class="help-block">{{ trans('person-help') }}</small>
		</div>
	</div>
	
	<div class="form-group" id="volume-group">
		<label class="col-sm-2 control-label" for="volume">{{ trans('volume') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="volume" name="volume" value="{{ reference.getVolume() }}">
		</div>
	</div>
	
	<div class="form-group" id="number-group">
		<label class="col-sm-2 control-label" for="number">{{ trans('number') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="number" name="number" value="{{ reference.getNumber() }}">
		</div>
	</div>
	
	<div class="form-group" id="edition-group">
		<label class="col-sm-2 control-label" for="edition">{{ trans('edition') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="edition" name="edition" value="{{ reference.getEdition() }}">
		</div>
	</div>

	<div class="form-group" id="pages-group">
		<label class="col-sm-2 control-label" for="pages">{{ trans('pages') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="pages" name="pages" value="{{ reference.getPages() }}">
		</div>
	</div>
	
	<div class="form-group" id="howpublished-group">
		<label class="col-sm-2 control-label" for="howpublished">{{ trans('howpublished') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="howpublished" name="howpublished" value="{{ reference.getHowpublished() }}">
		</div>
	</div>
	
	<div class="form-group" id="note-group">
		<label class="col-sm-2 control-label" for="note">{{ trans('note') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="note" name="note" value="{{ reference.getNote() }}">
		</div>
	</div>
	
	<div class="form-group" id="url-group">
		<label class="col-sm-2 control-label" for="url">{{ trans('url') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="url" name="url" value="{{ reference.getUrl() }}">
		</div>
	</div>
	
	<div class="form-group" id="lastchecked-group">
		<label class="col-sm-2 control-label" for="lastchecked">{{ trans('lastchecked') }}</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="lastchecked" name="lastchecked" value="{{ reference.getLastchecked('d.m.Y') }}">
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-2">
			<input type="submit" class="btn btn-primary form-control" value="{{ trans('save')|capitalize }}">
		</div>
	</div>
	
	<script>
	var all = ['title', 'booktitle', 'year', 'author', 'publisher', 'address', 'editor', 'journal', 'number', 'school', 'volume', 'edition', 'pages', 'howpublished', 'note', 'url', 'lastchecked'];
	var config = {
		book: {
			show: ['title', 'publisher', 'year', 'author', 'address', 'edition'],
			required: ['author', 'title', 'publisher', 'year']
		},
		article: {
			show: ['title', 'year', 'author', 'address', 'journal', 'number', 'volume', 'pages', 'url', 'lastchecked'],
			required: ['author', 'title', 'journal', 'year']
		},
		inbook: {
			show: ['title', 'booktitle', 'year', 'author', 'publisher', 'address', 'editor', 'volume', 'edition', 'pages'],
			required: ['author', 'title', 'booktitle', 'editor', 'publisher', 'year']
		},
		url: {
			show: ['title', 'year', 'author', 'url', 'lastchecked'],
			required: ['author', 'title', 'url', 'lastchecked']
		},
		unpublished: {
			show: ['title', 'year', 'author', 'note', 'school'],
			required: ['title', 'author', 'note']
		},
		bachelorthesis: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'school'],
			required: ['title', 'year', 'author', 'school']
		},
		masterthesis: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'school'],
			required: ['title', 'year', 'author', 'school']
		},
		diplomathesis: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'school'],
			required: ['title', 'year', 'author', 'school']
		},
		phdthesis: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'school'],
			required: ['title', 'year', 'author', 'school']
		},
		habilitationthesis: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'school'],
			required: ['title', 'year', 'author', 'school']
		},
		multimedia: {
			show: ['title', 'year', 'author', 'publisher', 'address', 'howpublished', 'url', 'lastchecked'],
			required: ['title', 'year', 'author', 'publisher', 'howpublished']
		}
	};

	var displayProperties = function () {
		var type = $('#type').val();

		// reset hidden and required state
		all.forEach(function (t) {
			$('#' + t).removeAttr('required');
			$('#' + t + '-group').addClass('hidden');
		});

		// get type
		var props = config[type];

		props.show.forEach(function (t) {
			$('#' + t + '-group').removeClass('hidden');
		});

		props.required.forEach(function (t) {
			$('#' + t).attr('required');
		});
	};
	$('#type').select2().on('change', displayProperties);
	displayProperties();
	</script>

</form>
{% endblock %}