{% macro detail(skills, url_pattern) %}
<ul class="media-list">
	{% for skill in skills %}
	{% if not skill.getVariationOfId() and not skill.getMultipleOfId() %}
	<li class="media">
		<a class="media-left" href="{{ url_pattern|replace({'_skill_': skill.getSlug()}) }}">
			[picture]
		</a>
		<div class="media-body">
			<a href="{{ url_pattern|replace({'_skill_': skill.getSlug()}) }}">
				<h3 class="media-heading">{{ skill.getName() }}</h3>
			</a>
			<p>{{ skill.getDescription() }}</p>
			
			{% if skill.getVariations().count() %}
			<p><b>{{ trans('variations') }}: </b>
				{% for s in skill.getVariations() %}
				<a href="{{ url_pattern|replace({'_skill_': s.getSlug()}) }}">{{ s.getName() }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>
			{% endif %}
			
			{% if skill.getMultiples().count() %}
			<p><b>{{ trans('multiples') }}: </b>
				{% for s in skill.getMultiples() %}
				<a href="{{ url_pattern|replace({'_skill_': s.getSlug()}) }}">{{ s.getName() }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>
			{% endif %}
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>
{% endmacro %}

{% macro simple(skills, url_pattern) %}
<ul class="media-list">
	{% for skill in skills %}
	<li class="media">
		<a class="media-left" href="{{ url_pattern|replace({'_skill_': skill.getSlug()}) }}">
			[picture]
		</a>
		<div class="media-body">
			<a href="{{ url_pattern|replace({'_skill_': skill.getSlug()}) }}">{{ skill.getName() }}</a>
		</div>
	</li>
	{% endfor %}
</ul>
{% endmacro %}