{% extends 'frame.twig' %}

{% block actions %}
<a href="{{ edit_url }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
{% endblock %}

{% macro authors(authors) %}
	{% for author in authors %}
		{{ author.getDisplayName() }}{% if not loop.last %}, {% endif %}
	{% endfor %}
{% endmacro %}

{% macro rotation(skill_flags, label, flags, sport) %}
	{% if skill_flags> 0 %}
	<tr>
		<td>{{ label|capitalize }}</td>
		<td>
		{% if skill_flags b-and flags.movender %}{{ sport.getMovender() }}{% endif %}
		{% if skill_flags b-and flags.movender and skill_flags b-and flags.movendum %}
		{% set icon = 'repeat' %}
		{% set title = trans('simultaneous') %}
		{% if skill_flags b-and flags.same %}
		{% set icon = 'retweet' %}
		{% set title = trans('isolated') ~ ', ' ~ trans('same') ~ ' ' ~ trans('direction') %}
		{% endif %}
		{% if skill_flags b-and flags.opposite %}
		{% set icon = 'random' %}
		{% set title = trans('isolated') ~ ', ' ~ trans('opposite') ~ ' ' ~ trans('direction') %}
		{% endif %}
		<span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true" title="{{ title }}"></span>
		{% endif %}
		{% if skill_flags b-and flags.movendum %}{{ sport.getMovendum() }}{% endif %}
		</td>
	</tr>
	{% endif %}
{% endmacro %}

{% import _self as macros %}

{% block main %}
<h2>{{ skill.getName() }}</h2>

<div class="media">
	<div class="media-left">
		[picture]
	</div>
	<div class="media-body" style="width: 100%;">
		<p>{{ skill.getDescription() }}</p>
	</div>
	<div class="media-right bg-info info-box">
		<table>
			<tr>
				<td>{{ trans('importance') }}</td>
				<td>{{ skill.getImportance() }}</td>
			</tr>
			<tr>
				<td>{{ trans('generation') }}</td>
				<td>{{ skill.getGeneration() }}</td>
			</tr>
			<tr>
				<td>{{ sport.getGroupPluralLabel() }}</td>
				<td>
					<ul class="list-unstyled">
						{% for group in skill.getGroups() %}
						<li><a href="{{ group_url_pattern|replace({'_group_': group.getSlug()}) }}">{{ group.getTitle() }}</a></li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>

<div role="tabpanel">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#movement" aria-controls="movement" role="tab" data-toggle="tab">{{ trans('movement-legend') }}</a></li>
		<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab">{{ trans('relationships') }}</a></li>
		{% if skill.getHistory() is not empty %}<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">{{ trans('history') }}</a></li>{% endif %}
		<li role="presentation"><a href="#credits" aria-controls="credits" role="tab" data-toggle="tab">{{ trans('credits') }}</a></li>
	</ul>
  
	<!-- Tab panes -->
	<div class="tab-content">
		
		<!-- Movement Parameters -->
		<div role="tabpanel" class="tab-pane active" id="movement">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h3>{{ trans('movement-description') }}</h3>
						<p>[verlaufsbild]</p>
						<p>{{ skill.getMovementDescription() }}</p>
					</div>
				</div>
				{% if skill.getParts().count() > 0 %}
				<div class="row">
					<div class="col-md-12 parts clearfix">
						<h3>{{ trans('parts') }}</h3>
						{% for part in skill.getParts() %}
						<div class="part-item part-box pull-left">
							<a class="pull-left skill-picture" href="{{ url_pattern|replace({'_skill_': part.getSlug()}) }}">
								[picture]
							</a>
							<a class="part-text" href="{{ url_pattern|replace({'_skill_': part.getSlug()}) }}">{{ part.getName() }}</a>
						</div>
						{% if not loop.last %}
						<div class="part-item part-connector pull-left">
							<span class="part-text glyphicon glyphicon-plus" aria-hidden="true"></span>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-4">
				<h3>{{ trans('movement-type') }}</h3>
				<ul class="list-unstyled">
					<li>{% if skill.getIsCyclic() %}{{ trans('cyclic')|capitalize }}{% else %}{{ trans('acyclic')|capitalize }}{% endif %}</li>
					{% if skill.getIsTranslation() %}<li>{{ trans('translation')|capitalize }}</li>{% endif %}
					{% if skill.getIsRotation() %}
					<li>{{ trans('rotation')|capitalize }}
					{% if skill.getLongitudinalFlags() > 0 or skill.getLatitudinalFlags() > 0 or skill.getTransversalFlags() > 0 %}
					<table class="details" style="margin-left: 10px;">
						{{ macros.rotation(skill.getLongitudinalFlags(), trans('longitudinal'), flags, sport) }}
						{{ macros.rotation(skill.getLatitudinalFlags(), trans('latitudinal'), flags, sport) }}
						{{ macros.rotation(skill.getTransversalFlags(), trans('transversal'), flags, sport) }}
					</table>
					{% endif %}
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		<!-- Relationshuip Parameters -->
		<div role="tabpanel" class="tab-pane" id="relationships">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<h3>{{ trans('parents') }}</h3>
						<p>{{ trans('learn-before', {'skills': sport.getSkillPluralLabel()}) }}</p>
						{% import 'skill-listing.twig' as listing %}
						{{ listing.simple(skill.getParents(), url_pattern) }}
					</div>
					<div class="col-md-6">
						<h3>{{ trans('children') }}</h3>
						<p>{{ trans('learn-after', {'skills': sport.getSkillPluralLabel()}) }}</p>
						{% import 'skill-listing.twig' as listing %}
						{{ listing.simple(skill.getChildren(), url_pattern) }}
					</div>
				</div>
				{% if skill.getVariations().count() > 0 %}
				<div class="row">
					<div class="col-md-12">
						<h3>{{ trans('variations') }}</h3>
						{% import 'skill-listing.twig' as listing %}
						{{ listing.simple(skill.getVariations(), url_pattern) }}
					</div>
				</div>
				{% endif %}
				{% if skill.getMultiples().count() > 0 %}
				<div class="row">
					<div class="col-md-12">
						<h3>{{ trans('multiples') }}</h3>
						{% import 'skill-listing.twig' as listing %}
						{{ listing.simple(skill.getMultiples(), url_pattern) }}
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-4">
				{% if sport.getCompositional() %}
				<h3>{{ sport.getTransitionPluralLabel() }}</h3>
				<table class="details">
					<tr>
						<td>{{ trans('start-position') }}</td>
						<td><a href="{{ transitions_out_url }}">{{ skill.getStartPosition().getTitle() }}</a> ({{ transitions_in_count }} {{ sport.getTransitionPluralLabel() }})</td>
					</tr>
					<tr>
						<td>{{ trans('end-position') }}</td>
						<td><a href="{{ transitions_in_url }}">{{ skill.getEndPosition().getTitle() }}</a> ({{ transitions_out_count }} {{ sport.getTransitionPluralLabel() }})</td>
					</tr>
				</table>
				{% endif %}
				
				{% if skill.getVariationOf() or skill.getMultipleOf() or skill.getComposites().count() > 0 %}
				<h3>{{ trans('connections') }}</h3>
				<table class="details">
					{% if skill.getVariationOf() %}
					<tr>
						<td>{{ trans('variation-of') }}</td>
						<td><a href="{{ url_pattern|replace({'_skill_': skill.getVariationOf().getSlug()}) }}">{{ skill.getVariationOf().getName() }}</a></td>
					</tr>
					{% endif %}
					{% if skill.getMultipleOf() %}
					<tr>
						<td>{{ trans('multiple-of') }}</td>
						<td><a href="{{ url_pattern|replace({'_skill_': skill.getMultipleOf().getSlug()}) }}">{{ skill.getMultipleOf().getName() }}</a></td>
					</tr>
					<tr>
						<td>{{ trans('multiplier') }}</td>
						<td>{{ skill.getMultiplier() }}°</td>
					</tr>
					{% endif %}
					{% if skill.getComposites().count() > 0 %}
					<tr>
						<td>{{ trans('part-of') }}</td>
						<td>
							<ul class="list-unstyled">
								{% for composite in skill.getComposites() %}
								<li><a href="{{ url_pattern|replace({'_skill_': composite.getSlug()}) }}">{{ composite.getName() }}</a></li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					{% endif %}
				</table>
				{% endif %}
			</div>
		</div>

		{% if skill.getHistory() is not empty %}
		<!-- History -->
		<div role="tabpanel" class="tab-pane" id="history">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12" style="margin-top: 20px;">
						<p>{{ skill.getHistory() }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		<!-- Credits -->
		<div role="tabpanel" class="tab-pane" id="credits">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h3>{{ trans('authors') }}</h3>
						{{ macros.authors(skill.getAllAuthors()) }}
					
						<h3>{{ trans('references') }}</h3>
						
						<h3>{{ trans('Versions') }}</h3>
						
						<table class="table">
							<thead>
								<tr>
									<th>{{ trans('version') }}</th>
									<th>{{ trans('date') }}</th>
									<th>{{ trans('comment') }}</th>
									<th>{{ trans('authors') }}</th>
								</tr>
							</thead>
							<tbody>
								{% for version in skill.getAllVersions() %}
								<tr>
									<td>{{ version.getVersion() }}</td>
									<td>{{ version.getVersionCreatedAt()|date('d.m.Y H:i') }}</td>
									<td>{{ version.getVersionComment() }}</td>
									<td>{{ macros.authors(skill.getAuthors(version.getVersion())) }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}