{% extends "frame.twig" %}

{% block main %}
<h2>{{ trans('about')|capitalize }}</h2>

<p>{{ trans('intro')|replace({'{gossi}': '<a href="http://gos.si">Thomas Gossmann</a>'})|raw }}</p>

<p>{{ trans('hosted') }}</p>

<ul>
	<li><a href="https://github.com/gossi/trixionary">gossi/trixionary</a> - {{ trans('repo-trixionary') }}</li>
	<li><a href="https://github.com/gossi/trixionary-client">gossi/trixionary-client</a> - {{ trans('repo-client') }}</li>
</ul>

<h3>{{ trans('contributions-heading') }}</h3>

<p>{{ trans('contributions') }}</p>

<h3>{{ trans('support-heading') }}</h3>

<p>{{ trans('support') }}</p>

<img src="{{ global.locations.root_url }}/_keeko/modules/gossi/trixionary-client/images/dosb.jpg" style="max-height: 78px;">
<img src="{{ global.locations.root_url }}/_keeko/modules/gossi/trixionary-client/images/rkb.png" style="max-height: 78px;">

{% endblock %}