<h2>{{ t('info.about')|capitalize }}</h2>

<p>{{ t('info.intro', {'gossi': '<a href="http://gos.si">Thomas Gossmann</a>'})|raw }}</p>

<p>{{ t('info.hosted') }}</p>

<ul>
	<li><a href="https://github.com/gossi/trixionary">gossi/trixionary</a> - {{ t('info.repo-trixionary') }}</li>
	<li><a href="https://github.com/gossi/trixionary-client">gossi/trixionary-client</a> - {{ t('info.repo-client') }}</li>
</ul>

<h3>{{ t('info.contributions-heading') }}</h3>

<p>{{ t('info.contributions') }}</p>

<h3>{{ t('info.support-heading') }}</h3>

<p>{{ t('info.support') }}</p>

<img src="{{ resource_url('/gossi/trixionary-client/public/images/dosb.jpg') }}" style="max-height: 78px;">
<img src="{{ resource_url('/gossi/trixionary-client/public/images/rkb.png') }}" style="max-height: 78px;">
