<form action="{{ locations.app_url }}/manage/{{ sport.getId() }}/objects/{{ object.getId() }}/delete" method="post">
<div class="row">
	<div class="col-md-4 col-md-offset-4 panel panel-danger" style="padding: 0; margin-top: 30px;">
		<div class="panel-heading">
			<h3 class="panel-title">Delete {{ sport.getObjectLabel() }}</h3>
		</div>
		<div class="panel-body">
			<p>Are you sure, you want to delete {{ object.getTitle()}}?</p>
			
			<div class="form-group{% if error %} has-error{% endif %}">
				<label for="name">Type in the name of the {{ sport.getObjectLabel() }} you want to delete:</label>
				<input type="text" class="form-control" id="name" name="name">
				{% if error %}
				<span class="help-block">{{ error }}</span>
				{% endif %}
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-danger pull-right" style="margin-left: 10px;" type="submit">Delete</button>
			<a href="{{ locations.app_url }}/manage/{{ sport.getId() }}/objects" class="btn btn-default pull-right">Cancel</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</form>